<div class="container">
    <div class="card">
        <div class="left-column background1-left-column">
            <div>
                <img src="{{pokemonImg}}" alt="">

            </div>

            <i class="fa fa-github"></i>
        </div>

        <div class="right-column">
            <div>
                <h1>{{pokemon.name}}</h1>
                <h6>#{{pokemon.id}}</h6>

            </div>
            <h3>Tipo: {{pokemonType}}</h3>
            <h3>Height: {{pokemon.height}}</h3>
            <h3>Weight: {{pokemon.weight}}</h3>
        </div>

    </div>

    <div class="card">

        <div class="right-column">
            <div>
                <h1>Estadisticas</h1>
                <h3>HP: {{pokemon.stats[5].base_stat}}</h3>
                <h3>Ataque: {{pokemon.stats[5].base_stat}}</h3>
                <h3>Ataque: {{pokemon.stats[3].base_stat}}</h3>
                <h3>Sp. Attack: {{pokemon.stats[2].base_stat}}</h3>
                <h3>Sp. Defense: {{pokemon.stats[1].base_stat}}</h3>
            </div>
        </div>
    </div>

</div>
