.pokemon--grid {
    background: rgba( 33, 33, 33, 0.7);
    backdrop-filter: blur( 9px);
    -webkit-backdrop-filter: blur( 9px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
}

@media screen and (min-width: 40em) and (max-width: 63.9em) {
    .pokemon--grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
    }
}

// web
@media screen and (min-width: 64em) {
    .pokemon--grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
    }
}

.pokemon--grid__box {
    background: rgba( 33, 33, 33, 0.5);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 9px);
    -webkit-backdrop-filter: blur( 9px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}