@import "../../../styles.scss";

.mat-toolbar{
    border-radius: 0px;
background: #e0e0e0;
box-shadow:  5px 5px 18px #b8b8b8,
             -5px -5px 18px #ffffff;
    padding: 10px;
    & h1{
        color: #darkPrincipal;

    font-weight: 900;


    }
}
